#app{
    font-size:43px;
    color:lightseagreen;
    font-family:'Signika', sans-serif;
    }

#app_para{
    font-size:33px;
    font-family:'Signika', sans-serif;

}
#lable{
    font-size:20px;
    font-weight: 300;

}
#input{
    padding:4px;
    width:80%;
    height: 45px;
    border:2px solid lightskyblue;
    outline:none;
}
#btn{
    width:150px;
    height:40px;
    background:none;
    outline:none;
    color:#70DBDB;
}
#btn:hover{
    background:skyblue;
    color:white;
}
