body{
    background-attachment: fixed;
    background-image: url(images/tooth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


#first{
    margin-top: 20px;
    background:rgba(100,100,100, 0.6);
    color:white;
    border:2px solid black;
    width:100%;
    overflow: hidden;
    padding:10px;
}
#firsttext{
    font-weight:600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#first:hover{
    background:rgba(50,50,50, 0.6);

}
#user_icon{
float: right;
display:block;
}
#second{
    margin-top:30px;
       padding-top: 10px;
    background:rgba(150,150,150, 0.6);
    color:black;
    border:2px solid black;
    height:70vw;
    overflow: hidden;

}
.login{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5vw;
    margin-bottom: 5vw;
    height:50vh; 
}
#username,#password{
    outline:none;
    background:rgba(200,200,200, 0.4);
    width:400px;
    height:50px;
    margin-bottom:2vw;
    border:2px solid black;
    transition-property: width;
    transition-duration: 200ms;
    transition-timing-function: linear;
    padding:8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logintext{
    display: flex;
    align-items: center;
    justify-content: center;
}
#username:focus,#password:focus{
    width:35vw;
    background: white;
    color:black;
}
#username::placeholder,#password::placeholder{
    color:white;
    font-weight: 400;
}
.submitbtn{
     display: flex;
    align-items: center;
    justify-content: center;
}
#loginbtn{
    background-image: linear-gradient(white,grey);
    width:80px;
    height: 40px;
    border-radius:10%;
    outline: none;
}
#remember{
    margin-left: 9%;
    color:white;
}
#us{
    color:white;
}
form{
    background:rgba(100,100,100, 0.8);
    padding:30px;
    padding-top:30px;
    padding-bottom: 30px;
}
@media only screen and (max-width:576px){
   #username,#password{
    width:200px;
    height:30px;
    padding:6px;
    font-size:12px;
   } 
   #us{
       font-size: 10px;
   }
   #second{
       height:200vw;
   }
   #firsttext{
       font-size: 15px;
   }
   #user_icon{
       display: inline;
   }
   #userlogin{
       font-size:16px;
   }
   #username:focus,#password:focus{
       width:230px;
        height:30px;
        padding:6px;
   }
   #username::placeholder,#password::placeholder{
    color:white;
    font-weight: 300;
    font-size:10px;
}
#remember{
    font-size:10px ;
}
#loginbtn{
   width:60px;
    height:20px;
    font-size:10px;
    margin-top:5px;
}


}