/* for smooth scrolling*/
html {
  scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
}
#first_container{
    background-image:linear-gradient(#05B8CC,white) ;
    justify-content: center;
    padding-bottom: 2vw;
    align-items: center;
    color:lightblue;
    animation-name: text;
    -moz-animation-duration: 5s;
    -o-animation-direction: 5s;
    -webkit-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}
@keyframes text{
    0%{
        color:whitesmoke;
    }
     25%{
         color:white;
    } 
    50%{
        color:white;
    } 
    75%{
        color:#FFFACD;
    } 
    100%{
        color:#FFFFE0;
    }
}
#second_container{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  
}
.bg{
    background-image: linear-gradient(#32CD32,#008000);
}
#box{
    width:100px;
    height:100px;
    background: yellow;
    border:2px solid black;
}

